body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border: 1px solid black;
    width: 300px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
}

#button {
    width: 100px;
}